/* Cosas */
html, body{
	overflow-x: hidden;
	width: 100vw;
}
.btn-custom{
	background-color: #ed3529;
    color: #fff;
    padding: 2vh 5vw;
}
.btn-custom-btn{
	background-color: #FFF799;
    color: #ed3529;
    font-size: 1.7vw;
    width: 17vw;
    border-radius: 0;
    height: 7vh;
}
.btn-custom-btn:hover{
	background-color: #dad37b;
}
/*======= Header =======*/
nav{
	background-color: #ED3529;
	overflow: hidden;
}
nav ul li {
    padding: 0 2vw;
}
nav ul a {
    font-size: 1.5vw;
}
nav ul a i.fa-bars{
	color: #FFF799;
	font-size: 2.3vw;
}
#cotizaYa{
    border: 1px solid #fff;
    height: 5vh;
    line-height: 5vh;
    margin-top: 2vh;
    width: 12vw;
    text-align: center;
}

#header-info{
	width: 100vw;
	min-height: 100vh;
}
#header-info > img{
	width: 100vw;
	z-index: -1;
	position: absolute;
}
#header-text{
    width: 50vw;
    background: #ed3529d1;
    margin: 53vh 1vw 0 0;
    float: right;
}
#header-text > div{
	display: inline-block;
}
#header-text > div#header-img{
	padding: 2vw;
}
#header-text > div#header-img > img{
	width: 9vw;
}
#header-text > div#header-titles{
	width: 36vw;
    float: right;
}
#header-text > div > h3{
	color: #fff;
	font-weight: bold;
}
#header-text > div > h2{
	margin-top: 0;
	font-size: 1.4vw;
	color: #fff;
}
/*======= /Header =======*/

/*======= Main =======*/
#main{
	width: 100vw;
	overflow-x: hidden;
}

#models-section{
	text-align: center;
	background-color: #fff;
	padding: 8vh;
}
.carousel{
	height: 85vh;
}
.carousel-item{
    min-height: 69vh;
	opacity: 1 !important;
	margin-top: -37vh;
}

#catalogo-section{
	min-height: 100vh;
}
#catalogo-section > div > #nuevo-desarrollo{
	background-color: #ECECEC;
	color: rgb(79, 79, 79);
	padding: 1vh 6vw;
    height: 95vh;
}
#catalogo-section > div > #catalogo-form{
	color: #fff;
	height: 95vh;
	padding: 1vh 4.8vw;
	text-align: center;
	background-image: url(../images/imagen-contactanos.jpg);
	background-position-x: -13vw;
}
#catalogo-section > div > #catalogo-form > h4{
	font-size: 2.1vw;
}
#catalogo-section > div > #catalogo-form > form > textarea,
#catalogo-section > div > #catalogo-form > form > input{
    width: 30vw;
    background: #fff;
    border: 0;
    margin: 2vh 0;
    padding-left: 2vw;
    color: #000;
}
#catalogo-section > div > #catalogo-form > form > textarea#comment{
	width: 32vw;
	height: 30vh;
}
#catalogo-section > div > #catalogo-form > form > p{
	text-align: left;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: #fff;
    border-radius: 0;
    border: 0; 
}
#catalogo-section > div > #catalogo-form > form > p > label > span{
	color: #fff;
}
#catalogo-section > div > #catalogo-form > form > p > label > span > span{
	color: #FFF799;
}
#catalogo-section > div > #nuevo-desarrollo > p{
	font-size: 1.3vw;
}
#catalogo-section > div > #nuevo-desarrollo > .btn-custom{
    margin: 13vh 2vw 1vh;
    display: inline-block;
}

#beneficios-section{
	text-align: center;
	padding: 2vh 5vw;
}
#beneficios-section > p{
	font-size: 1.4vw;
    margin-bottom: 6vh;
}
.beneficio{
    margin: 3vh 0;
}
.beneficio > div{
	padding: 0 !important;
}
.beneficio > div > p{
	margin-top: 0;
}

#equipo-section{
	background-color: #ECECEC;
	text-align: center;
    padding: 7vh 3vw;
}
#equipo-section > h4{
	margin-bottom: 10vh;
}
#equipo-section > div > div > div.imagen-equipo > img{
    width: 100%;
}
#equipo-section > div > div > div.description-equipo > h6{
	color: #ED3529;
	font-weight: bold;
	font-size: 1.5vw;
}
#equipo-section > div > div > div.description-equipo > p{

}
#equipo-section > div > div > div.description-equipo > p.equipo-horario{
	font-weight: bold;
	font-size: 1.5vw;
}
#equipo-section > div > div > div.description-equipo > .equipo-iconos > img{
	width: 4.3vw;
}

#map-section{
    margin-bottom: 14vh;
}
#map-section > img{
	width: 100vw;
}

#otros-section{
	background-color: #ECECEC;
    padding: 6vh 2vw;
}

#catalogo-footer{
	background-image: url(../images/imagen-contactanos.jpg);
    height: 80vh;
    background-repeat: no-repeat;
}
#catalogo-footer > div > #catalogo-form-footer > h4{
	font-size: 2.1vw;
	color: #fff;
}
#catalogo-footer > div > #catalogo-form-footer > form > textarea,
#catalogo-footer > div > #catalogo-form-footer > form > input{
    width: 30vw;
    background: #fff;
    border: 0;
    margin: 2vh 0;
    padding-left: 2vw;
    color: #000;
}
#catalogo-footer > div > #catalogo-form-footer > form > textarea#comment{
	width: 32vw;
	height: 30vh;
}
#catalogo-footer > div > #catalogo-form-footer > form > p{
	text-align: left;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: #fff;
    border-radius: 0;
    border: 0; 
}
#catalogo-footer > div > #catalogo-form-footer > form > p > label > span{
	color: #fff;
}
#catalogo-footer > div > #catalogo-form-footer > form > p > label > span > span{
	color: #FFF799;
}
#catalogo-footer > div > #nuevo-desarrollo-footer > p{
	font-size: 1.3vw;
}
#catalogo-footer > div > #nuevo-desarrollo-footer > .btn-custom{
    margin: 13vh 2vw 1vh;
    display: inline-block;
}
/*======= /Main =======*/